@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#scene {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

#leaning {
	position: absolute;
	left: calc(10vw - 0.2vmin);
	top: 5vh;
	width: 80vw;
	height: 5vh;
	border: 0.2vmin solid white;
	background: black;
}
#leaning .title {
	position: absolute;
	top: -4vh;
	color: yellow;
	font-family: 'Patrick Hand';
	text-align: center;
	width: 80vw;
	display: block;
	font-size: 3vh;
	text-transform: uppercase;
	text-shadow: 0 0.1vmin 0.5vmin black;
}
#left-wing, #right-wing {
	width: 40vw;
	height: 5vh;
	position: absolute;
	top: 0;
}

#left-wing {
	left: 0;
	background: red;
	transform-origin: 100% 50%;
}
#right-wing {
	right: 0;
	background: blue;
	transform-origin: 0 50%;
}

#placings {
	position: absolute;
	font-family: 'Patrick Hand';
	top: 15vh;
	left: 5vw;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2vmin;
	text-shadow: 0 0.1vmin 0.5vmin black;
}
#placings li.player { color: #8af; }
#placings li.out { color: #000; }

#news {
	position: absolute;
	width: 80vw;
	height: 50vw;
	background-image: url('res/news.png');
	background-size: contain;
	background-position: 50% 0;
	background-repeat: no-repeat;
	transition: transform 300ms;
	left: 10vw;
	top: calc(50vh - 25vw);
}
#headline {
	text-transform: uppercase;
	font-family: 'Patrick Hand';
	font-size: 6vw;
	transform: rotate(-7deg);
	display: block;
	text-align: center;
	position: absolute;
	width: 65vw;
	left: 10vw;
	top: 10vw;
	line-height: 1.1;
}
#news.on {
	transform: none;
	transition-timing-function: ease-in;
}
#news.off {
	transform: translate(0, 120vh) rotate(30deg);
	transition-timing-function: ease-out;
}

#splash, #touch-controls {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
@media (hover: none) { #touch-controls { display: block; } }

#touch-controls div {
	font-family: 'Patrick Hand';
	width: 20vmin;
	height: 20vmin;
	position: absolute;
	box-shadow: 0 2vmin 2vmin black;
	color: white;
	font-size: 8vmin;
	text-align: center;
	box-sizing: border-box;
	padding-top: 6vmin;
	line-height: 1;
	border-radius: 10vmin;
	opacity: 0.5;
}
#touch-controls div.active { opacity: 1; }

#touch-controls #gas {
	right: 10vmin;
	bottom: 20vmin;
	background: green;
}
#touch-controls #gas:before { content: 'GO'; }

#touch-controls #brake {
	right: 35vmin;
	bottom: 10vmin;
	background: red;
}
#touch-controls #brake:before { content: 'STOP'; }

@media (max-aspect-ratio: 5/4) {
	#touch-controls #brake {
		right: 10vmin;
	}
	#touch-controls #gas {
		right: 10vmin;
		bottom: 35vmin;
	}
}

#touch-controls #left {
	left: 10vmin;
	bottom: 15vmin;
	background: blue;
}
#touch-controls #left:before { content: 'LEFT'; }

#touch-controls #right {
	left: 35vmin;
	bottom: 15vmin;
	background: blue;
}
#touch-controls #right:before { content: 'RIGHT'; }

#splash {
	background: rgba(0, 0, 0, 0.5);
	padding: 5vmin;
	font-size: 4vmin;
	color: white;
	text-align: center;
	font-family: 'Patrick Hand';
	line-height: 1;
	box-sizing: border-box;
	overflow: auto;
}
.splash #touch-controls { display: none; }
.splash #splash { display: block; }

a { color: yellow; }
a:visited { color: yellow; }
a:hover { color: red; }
