@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#scene {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

#leaning {
	position: absolute;
	left: calc(10vw - 0.2vmin);
	top: 5vh;
	width: 80vw;
	height: 5vh;
	border: 0.2vmin solid white;
	background: black;
}
#leaning .title {
	position: absolute;
	top: -4vh;
	color: yellow;
	font-family: 'Patrick Hand';
	text-align: center;
	width: 80vw;
	display: block;
	font-size: 3vh;
	text-transform: uppercase;
	text-shadow: 0 0.1vmin 0.5vmin black;
}
#left-wing, #right-wing {
	width: 40vw;
	height: 5vh;
	position: absolute;
	top: 0;
}

#left-wing {
	left: 0;
	background: red;
	transform-origin: 100% 50%;
}
#right-wing {
	right: 0;
	background: blue;
	transform-origin: 0 50%;
}

#placings {
	position: absolute;
	font-family: 'Patrick Hand';
	top: 15vh;
	left: 5vw;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2vmin;
	text-shadow: 0 0.1vmin 0.5vmin black;
}
#placings li.player { color: #8af; }
#placings li.out { color: #000; }

#news {
	position: absolute;
	width: 80vw;
	height: 50vw;
	background-image: url('res/news.png');
	background-size: contain;
	background-position: 50% 0;
	background-repeat: no-repeat;
	transition: transform 300ms;
	left: 10vw;
	top: calc(50vh - 25vw);
}
#headline {
	text-transform: uppercase;
	font-family: 'Patrick Hand';
	font-size: 6vw;
	transform: rotate(-7deg);
	display: block;
	text-align: center;
	position: absolute;
	width: 65vw;
	left: 10vw;
	top: 10vw;
	line-height: 1.1;
}
#news.on {
	transform: none;
	transition-timing-function: ease-in;
}
#news.off {
	transform: translate(0, 120vh) rotate(30deg);
	transition-timing-function: ease-out;
}
